.gradle/
build/
*/build/

local.properties

.idea/
*.iml
*.iws
*.ipr

*.jks
*.keystore

*.class
out/

*.log

captures/
.externalNativeBuild/
.cxx/

.DS_Store
Thumbs.db

google-services.json

*.apk
*.ap_
*.aab

obj/

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

*.swp
*~